@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    resize: none;
    box-sizing: border-box;
}
/*Media Queries*/
@media (min-width: 360px){
    .header .header__menu .headerNav__list {
        display: none;
    }
    #menuIcon{
        display: flex;
    }
    #menuSideBar {
       display: flex;
    }
    div#menuSideBar {
        height: 100%;
        width: 100%;
    }
    .main section {
        flex-direction: column;
    }
    .main section#section__contactUs {
        min-height: 140vh;
    }
    .main section div {
        width: 100%;
        margin: 0 auto 20px auto;
    }
}
@media (min-width: 590px){
    .header .header__menu .headerNav__list {
        display: flex;
    }
    #menuIcon{
        display: none;
    }
    #menuSideBar {
        display: none;
    }
    div#menuSideBar {
        height: 100%;
        width: 50%;
        max-width: 180px;
    }
    .main section {
        flex-direction: column;
    }
    .main section#section__contactUs {
        min-height: 130vh;
        padding: 0 10px;
    }
    .main section div {
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 1000px){
    .header .header__menu .headerNav__list {
        display: flex;
    }
    #menuIcon{
        display: none;
    }
    #menuSideBar {
       display: none;
    }
    div#menuSideBar {
        height: 100%;
        width: 50%;
        max-width: 180px;
    }
    .main section{
        flex-direction: row;
    }
    .main section#section__contactUs {
        min-height: 100vh;
    }
    .main section div {
        min-width: 50%;
    }
}
/*Media Queries*/
html {
    scroll-behavior: smooth;
}
/*Variables*/
:root {
    --purple: #5d17eb;
	--pink: #cb6be6;
	--orange: #ff5756;
	--white: #F4F2FD;
}
/*Variables*/
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/*Removing a scroll bar*/
::-webkit-scrollbar {
    display: none;
}
/*Removing a scroll bar*/
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 10px;
    background-color: var(--purple);
}
.header #logo {
    font: normal bold 1.3em 'Poppins';
    color: var(--white);
    text-decoration: none;
    margin: 0 auto;
}
.header__menu {
    width: 80%;
}
.header .header__menu .headerNav__list{
    align-items: center;
    justify-content: space-evenly;
    font: normal bold 1em 'Poppins';
    list-style: none;
    align-items: center;
}
.header .header__menu .headerNav__list li a{
    text-decoration: none;
    color: var(--white);
}
.loginLink{
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
}
.header .header__menu .headerNav__list .loginLink a ,
#menuSideBar .menuSideBar__nav .menuSideBarNav__list .loginLink a{
    color: var(--purple);
}
.signIn {
    padding: 5px 10px;
    border: 1px solid var(--white);
    border-radius: 5px;
}
button#menuSideBar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    color: var(--white);
    z-index: 6;
}
div#menuSideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    background-color: var(--purple);
    padding: 10px;
    transition: .6s;
}
#menuSideBar.menuSideBarClose {
    right: -100%;
}
#menuSideBar.menuSideBarOpen {
    right: 0;
    z-index: 3;
}
#menuSideBar .menuSideBar__nav .menuSideBarNav__list li {
    list-style: none;
    font: normal bold 1.2em 'Poppins';
    margin-bottom: 30px;
    text-align: center;
}
#menuSideBar .menuSideBar__nav .menuSideBarNav__list li a {
    text-decoration: none;
    color: var(--white);
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.main section {
    width: 100%;
    min-height: 100%;
    padding: 30px 10px 5px 10px;
}
.main section h2 , .main section p , 
.main section div h2 , .main section div p {
    text-align: center;
}
section#section__about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: #fff;
}
.main section h2{
    font: normal bold 2em 'Poppins', 'sans-serif';
    margin: 10px 0;
}
.main section p{
    font: normal normal 0.8em 'Poppins';
}
section#section__contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--purple);
    overflow: visible;
}
section#section__contactUs .contactUs__form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    min-height: 350px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    justify-content: space-between;
    color: #000;
}
section#section__contactUs .contactUs__form form input {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    background-color: #fff;
}
section#section__contactUs .contactUs__form form label{
    font: normal bold 0.8em 'Poppins';
    text-align: left;
    letter-spacing: 0.0005em;
}
section#section__contactUs .contactUs__form form input::placeholder {
    font: normal bold 1em 'Poppins';
}
section#section__contactUs .contactUs__form form textarea {
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    font: normal normal 0.8em 'Poppins';
    background-color: #fff;
}
section#section__contactUs .contactUs__form form button{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    font: normal normal 0.8em 'Poppins';
    color: #fff;
}
section#section__contactUs img {
    display: flex;
    height: 60%;
    width: 60%; 
    margin: 15px auto;
}
/* Story Set Link */
#storySetLink {
    position: fixed;
    right: 5px;
    bottom: 5px;
    text-decoration: none;
    font: normal normal 0.7em 'Poppins';
    color: rgba(221, 221, 221, 0.562);
}
#storySetLink:hover {
    text-decoration: underline;
}
/* Story Set Link */